# https://direnv.net/man/direnv-stdlib.1.html
# root_dir=$(expand_path .)
root_dir=$HOME/git/os2datascanner

export OS2DS_RAPPORT_USER_CONFIG_PATH="$root_dir/dev-environment/report/dev-settings.toml"
export OS2DS_ADMIN_USER_CONFIG_PATH="$root_dir/dev-environment/admin/dev-settings.toml"
export OS2DS_ENGINE_USER_CONFIG_PATH="$root_dir/dev-environment/engine/dev-settings.toml"
export PYTHONPATH="$root_dir/src:$PYTHONPATH"
